<section>
  <div class="container">
    <div class="row">
      <!-- Customer Information -->
      <div class="col-md-7">
        <div class="card p-4">
          <h4 class="mb-3">Customer Information</h4>
          <form [formGroup]="addressForm">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName"  class="form-label">First Name</label>
                <input type="text" formControlName="first_name" 
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && addForm['first_name'].errors}"
                         id="firstName" placeholder="John" required>
                <small *ngIf="addForm['first_name'].invalid && (addForm['first_name'].dirty || addForm['last_name'].touched)" class="invalid-feedback">
                <div *ngIf="addForm['first_name'].errors?.['required']">First name is required</div>
              </small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName"  class="form-label">Last Name</label>
                <input type="text" formControlName="last_name" 
                        class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && addForm['last_name'].errors}"
                        id="lastName" placeholder="Doe">
                <small *ngIf="addForm['last_name'].invalid && (addForm['last_name'].dirty || addForm['last_name'].touched)" class="invalid-feedback">
                  <div *ngIf="addForm['last_name'].errors?.['required']">Last name is required</div>
                </small>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input type="email" formControlName="email" 
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && addForm['email'].errors}"
                    id="email" placeholder="john.doe@example.com" required>
              <small *ngIf="addForm['email'].invalid && (addForm['email'].dirty || addForm['email'].touched)" class="invalid-feedback">
                <div *ngIf="addForm['email'].errors?.['required']">Email is required</div>
                <div *ngIf="addForm['email'].errors?.['email']">Email should be valid</div>
              </small>
            </div>
            <div class="row mb-3">
              <div class="col-md-3">
                <label for="phoneCode" class="form-label">Country Code</label>
                <select class="form-select" id="phoneCode">
                  <option value="+63">+63 (PH)</option>
                  <option value="+1">+1 (US)</option>
                  <option value="+44">+44 (UK)</option>
                </select>
              </div>
              <div class="col-md-9">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" formControlName="mobile_num" 
                      class="form-control"
                      [ngClass]="{ 'is-invalid': (submitted && addForm['mobile_num'].errors) || (addForm['mobile_num'].touched && (addForm['mobile_num'].errors?.['pattern'] || addForm['mobile_num'].errors?.['maxlength']))}"
                      id="phoneNumber" placeholder="9123456789" required>
                <small *ngIf="addForm['mobile_num'].invalid && (addForm['mobile_num'].dirty || addForm['mobile_num'].touched)" class="invalid-feedback">
                  <div *ngIf="addForm['mobile_num'].errors?.['required']">Mobile number is required</div>
                  <div *ngIf="addForm['mobile_num'].errors?.['pattern'] || addForm['mobile_num'].errors?.['maxlength']">Mobile number is invalid</div>
                  <!-- <div *ngIf="f['mobile_num'].errors?.['maxlength']">Mobile number exceeds max length</div> -->
                </small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" formControlName="country"
                      class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && addForm['country'].errors}"
                      id="country" placeholder="Philippines" required>
                <small *ngIf="addForm['country'].invalid && (addForm['country'].dirty || addForm['country'].touched)" class="invalid-feedback">
                  <div *ngIf="addForm['country'].errors?.['required']">User name is required</div>
              </small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" formControlName="city" 
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && addForm['city'].errors}"
                      id="city" placeholder="San Fernando City" required>
                <small *ngIf="addForm['city'].invalid && (addForm['city'].dirty || addForm['city'].touched)" class="invalid-feedback">
                  <div *ngIf="addForm['city'].errors?.['required']">City is required</div>
              </small>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="state" class="form-label">Province</label>
                <input type="text" formControlName="province" 
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && addForm['province'].errors}"
                      id="state" placeholder="Pampanga" required>
                <small *ngIf="addForm['province'].invalid && (addForm['province'].dirty || addForm['province'].touched)" class="invalid-feedback">
                  <div *ngIf="addForm['province'].errors?.['required']">Province is required</div>
              </small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="zipCode" class="form-label">Zip Code</label>
                <input type="text" formControlName="zip_code" 
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && addForm['zip_code'].errors}"
                      id="zipCode" placeholder="2001" required>
                <small *ngIf="addForm['zip_code'].invalid && (addForm['zip_code'].dirty || addForm['zip_code'].touched)" class="invalid-feedback">
                  <div *ngIf="addForm['zip_code'].errors?.['required']">Zip Code is required</div>
              </small>
              </div>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" formControlName="agree" 
              [ngClass]="{ 'is-invalid': submitted && addForm['agree'].errors}"
              type="checkbox" id="terms" required>
              <label class="form-check-label" for="terms">
                I have read and agree to the Terms and Conditions
              </label>
              <small *ngIf="addForm['agree'].invalid && (addForm['agree'].dirty || addForm['agree'].touched)" class="invalid-feedback">
                <div *ngIf="addForm['agree'].errors?.['required']">Please agree to the Terms and Conditions to continue.</div>
            </small>
            </div>
          </form>
        </div>
      </div>

      <!-- Order Summary and Payment -->
      <div class="col-md-5">
        <div class="card p-4 mb-4">
          <h4 class="mb-3">Your Order</h4>
          <div class="checkout-summary" *ngIf="customerOrder.item_name.length > 0">
            <ng-container *ngFor="let item of customerOrder.item_name; let i = index">
              <!-- Sample Product Items -->
              <div class="summary-item mb-2">
                <span>{{ item }} (x{{customerOrder.quantity[i]}})</span>
                <span>{{ customerOrder.subtotal[i] | currency: 'PHP': 'symbol': '1.2'}}</span>
              </div>
            </ng-container>
          </div>
        </div>

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="card p-4">
          <h4 class="mb-3">Payment</h4>
          <div class="mb-3">
            <label for="paymentMethod" class="form-label">Select Payment Method</label>
            <select class="form-select"
                 formControlName="paymentMethod"
                 id="paymentMethod"
                [ngClass]="{'is-invalid': submitted && f['paymentMethod'].value === 'Select payment method'}">
              <option selected>Select payment method</option>
              <option *ngFor="let method of paymentMethods" [value]="method">{{method}}</option>
            </select>
            <small *ngIf="f['paymentMethod'].value === 'Select payment method' && submitted"
                class="invalid-feedback">
                    Select a payment method
            </small>
          </div>
          <div class="mb-3">
            <label for="voucher" class="form-label">Voucher</label>
            <input type="text" class="form-control" id="voucher" placeholder="Enter your code">
          </div>
          <div class="checkout-summary">
            <div class="summary-item">
              <span class="summary-label">Subtotal:</span>
              <span>{{ getTotal() | currency: 'PHP': 'symbol': '1.2' }}</span>
            </div>
            <div class="summary-item">
              <span class="summary-label">Shipping:</span>
              <span>₱70.00</span>
            </div>
            <div class="summary-item">
              <span class="summary-label">Discount:</span>
              <span>-₱0.00</span>
            </div>
            <div class="summary-item">
              <span class="summary-label">Total:</span>
              <span>{{ getTotal() + 70 | currency: 'PHP': 'symbol': '1.2' }}</span>
            </div>
          </div>
          <button type="submit" class="btn pay-now-btn w-100 mt-4">Pay Now</button>
        </form>
      </div>
    </div>
  </div>

</section>