mat-card {
    margin: 82px;
    padding: 16px;
  }
  
  mat-card-title {
    font-weight: bold;
  }
  
  mat-list-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }