<!-- <p>checkout works!</p> -->

<mat-card>
    <mat-card-header>
      <mat-card-title>Checkout</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="cartItems.length > 0">
        <mat-list>
          <mat-list-item *ngFor="let item of cartItems">
            {{ item.food_name }} - {{ item.quantity }} x {{ item.price | currency }}
          </mat-list-item>
        </mat-list>
        <h3>Total: {{ totalAmount | currency }}</h3>
        <button mat-raised-button color="primary" (click)="completeCheckout()">Complete Checkout</button>
      </div>
      <p *ngIf="cartItems.length === 0">Your cart is empty.</p>
    </mat-card-content>
  </mat-card>