<section class="sb-nav-fixed">
    <app-admin-topnav></app-admin-topnav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <app-admin-sidenav></app-admin-sidenav>
            <!-- <app-admin-sidenav  [sidebarToggleInput]="sideToggleBtn" [adminSidenavInput]="adminSection"></app-admin-sidenav> -->
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div id="myProductsTable" class="me-5">

                </div>
                <div class="card mb-4" id="cardTable">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Store Products
                    </div>
                    <div class="card-body">
                        <div id="productsTable" class="me-5">
                            <table id="myTable" #datatablesSimple class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Item Image</th>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of productsList$ | async">
                                        <td><img src="assets/img/{{product.item_img}}" class="table-item-img" alt=""></td>
                                        <td>{{product.item_name}}</td>
                                        <td>{{product.category}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.unit_price}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-primary me-1">
                                            <i class="fa fa-pencil"></i> 
                                            </button>
                                            <button class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i> 
                                            </button>
                                        </td>
                                    </tr>                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-container">
                      <h3 class="text-center">Item Details</h3>
                      <form enctype="multipart/form-data">
                        <div class="item-img">
                          <img src="assets/img/default_item_img.jpg" alt="">
                        </div>
                        <div class="mb-3">
                            <label for="item-img-input" class="form-label">Item Image</label>
                            <input
                              type="file"
                              class="form-control"
                              id="item-img-input"
                              formControlName=""
                              placeholder="Choose an image"
                            />
                          </div>
                        <div class="mb-3">
                          <label for="username" class="form-label">Item Name</label>
                          <input
                            type="text"
                            class="form-control"
                            id="username"
                            formControlName="username"
                            placeholder="Type your user name"
                          />
                        </div>
                        <div class="item-qty-price form-group">
                            <div class="mb-3">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  formControlName=""
                                  id="quantity"
                                  placeholder="Input quantity"
                                />
                            </div>
                            <div class="mb-3">
                                <label for="unit-price" class="form-label">Unit Price</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  formControlName=""
                                  id="unit-price"
                                  placeholder="Input price"
                                />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                      </form>
                    </div>
                  </div>                
            </main>
            <app-admin-footer></app-admin-footer>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</section>