<!-- <div class=" d-flex justify-content-center my-5">
    <button class="btn btn-primary"  (click)="logOut()">Log out</button>
</div> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Click&Get Convenience Store</title>
  </head>
  <body>
    <!-- Navigation-->
     <app-navbar [itemCountInput]="cartItemCount"></app-navbar>
    <!-- Product section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="front-item gx-4 gx-lg-5 align-items-center" *ngIf="productBundle">
          <div class="front-img col-md-6">
            <img
              class="card-img-top mb-5 mb-md-0"
              src="{{ (imageUrls[productBundleIndex]) ? imageUrls[productBundleIndex] : itemImageName }}"
              alt="..."
            />
          </div>
          <div class="col-md-6" >
            <div class="small mb-1">SKU: BST-498</div>
            <h1 class="display-5 fw-bolder">{{ productBundle.item_name }}</h1>
            <div class="fs-5 mb-5">
              <span class="text-decoration-line-through">₱999.00 </span>
              <span>{{ productBundle.unit_price | currency: 'PHP': 'symbol': '1.2' }}</span>
            </div>
            <p class="lead">
              Treat yourself or a loved one to this irresistible grocery bundle, 
              packed with popular favorites! Enjoy delicious Century Tuna, savory 
              Palm Corned Beef, Mega Sardines, and Libby's Vienna Sausage. Plus, 
              quick-fix meals with Lucky Me! Instant Noodles in mouthwatering flavors 
              like Spicy Bulalo and Beef. Perfect for easy, tasty meals!
            </p>
            <form [formGroup]="addToCartForm" class="bundle-form d-flex" (ngSubmit)="addToCart(productBundleIndex)">
              <ng-container *ngIf="quantities && quantities.length" formArrayName="quantities">
                <!-- <input
                  class="form-control text-center me-3"
                  id="inputQuantity"
                  [formControlName]="productBundleIndex"
                  type="number"
                  value="1"
                  style="max-width: 3rem"
                />
                <button type="submit" class="btn btn-outline-dark flex-shrink-0">
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                </button> -->
                <div class="bundle-qty-wrapper">
                  <a class="btn btn-link px-2"
                        (click)="stepDown(productBundleIndex)">
                    <i class="fa-solid fa-minus"></i>
                  </a>
                  <input [formControlName]="productBundleIndex" id="{{ productBundleIndex }}" type="number"
                          class="form-control form-control-sm qty-input" min="1"/>
                  <a class="btn btn-link px-2"
                          (click)="stepUp(productBundleIndex)">
                      <i class="fa-solid fa-plus"></i>
                  </a>
                </div>
                <button type="submit" class="btn btn-outline-dark flex-shrink-0">
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                </button>
              </ng-container>
            </form>
          </div>
        </div>
      </div>
      <!-- <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Lapit mga suki</h1>
            </div>
        </div>
    </header> -->
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div
          class="shop-item row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-flex-start"
          
        > 
          <input #openPromptModal type="hidden" data-bs-toggle="modal" data-bs-target="#promptModal">
          <ng-container *ngFor="let product of products$ | async; let i = index">
            <div class="item col mb-5" *ngIf="!product.item_name.includes('Bundle')">
              <div class="card h-100">
                <!-- Product image-->
                <img
                  class="card-img-top"
                  src="{{ (imageUrls[i]) ? imageUrls[i] : itemImageName }}"
                  alt="..."
                />
                <!-- Product details-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ product.item_name }}</h5>
                    <!-- Product reviews-->
                    <div
                      class="d-flex justify-content-center small text-warning mb-2"
                    >
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                      <div class="bi-star-fill"></div>
                    </div>
                    <p class="qty">
                      <small class="text-muted">Quantity: {{ product.quantity }}</small>
                    </p>
                    <!-- Product price-->
                    <p>
                      <small class="text-muted">Price:</small>  {{ product.unit_price | currency: 'PHP' : 'symbol': '1.2' }}
                    </p>
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <form [formGroup]="addToCartForm" (ngSubmit)="addToCart(i)" class="text-center">
                    <div *ngIf="quantities && quantities.length" formArrayName="quantities">
                      <div class="qty-wrapper">
                        <a class="btn btn-link px-2"
                              (click)="stepDown(i)">
                          <i class="fa-solid fa-minus"></i>
                        </a>
                        <input [formControlName]="i" id="{{ i }}" type="number"
                                class="form-control form-control-sm qty-input" min="1"/>
                        <a class="btn btn-link px-2"
                                (click)="stepUp(i)">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark mt-auto"
                      >Add to cart</button>
                  </form>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </section>
    <!-- Prompt Modal -->
    <div id="promptModal" class="modal fade">
      <div class="modal-dialog modal-confirm">
        <div class="modal-content">
          <div class="modal-header">
            <div class="icon-box">
              <i class="material-icons">&#xE5CD;</i>
            </div>				
            <h4 class="modal-title w-100">Sorry!</h4>	
          </div>
          <div class="modal-body">
            <p class="text-center">Your account has been deactivated, &nbsp;you are unable to add items to cart.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger w-100" data-bs-dismiss="modal">Understood</button>
          </div>
        </div>
      </div>
    </div>    
    <!-- Deactivate Selected Modal HTML -->
    <div id="deactivateSelectedUserModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">						
              <h4 class="modal-title">Deactivate User</h4>
              <button #closeModalDeactChecked type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">					
              <p>Are you sure you want to deactivate these users?</p>
              <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
              <input type="button" class="btn btn-danger" value="Understood">
            </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <app-footer></app-footer>
  </body>
</html>
