<!-- <p>cart works!</p> -->
<app-navbar></app-navbar>
<div class="container px-4 px-lg-5 mt-5">
  <div
    class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
  >
    <div class="col mb-5">
      <div class="card h-100">
        <!-- Product details-->
        <div class="card-body p-5">
          <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">SHOPPING CART</h5>
            <!-- Product price-->
            <p *ngIf="cartItems.length === 0">Your cart is empty.</p>
          </div>
        </div>
<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Shopping Cart</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="cartItems.length > 0">
      <mat-list-item *ngFor="let item of cartItems">
        {{ item.item_name }} - {{ item.quantity }} x {{ item.unit_price | currency }}
      </mat-list-item>
    </mat-list>
    <p *ngIf="cartItems.length === 0">Your cart is empty.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/checkout">Proceed to Checkout</button>
    <button mat-raised-button color="warn" (click)="clearCart()">Clear Cart</button>
  </mat-card-actions>
</mat-card> -->