<div class="form-wrapper">
    <div class="form-container">
      <h3 class="text-center">Forgot Password</h3>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">User Name</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            id="username"
            formControlName="username"
            placeholder="Type your user name"
          />
          <small
            *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)"
            class="invalid-feedback"
          >
            <div *ngIf="f['username'].errors?.['required']">Username is required</div>
            <!-- <div *ngIf="f['email'].errors?.['email']">Email should be valid</div> -->
          </small>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors}"
              formControlName="email"
              id="email"
              placeholder="Type your email"
            />
            <small *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="invalid-feedback">
              <div *ngIf="f['email'].errors?.['required']">Email is required</div>
              <div *ngIf="f['email'].errors?.['email']">Email should be valid</div>
            </small>
        </div>
        <div class="mb-3">
            <label for="mobile-number" class="form-label">Mobile Number</label>
            <div class="input-group">
              <span class="input-group-text">+63</span>
              <input
                type="text"
                id="mobile-number"
                formControlName="mobile_num"
                class="form-control"
                [ngClass]="{ 'is-invalid': (submitted && f['mobile_num'].errors) || (f['mobile_num'].touched && (f['mobile_num'].errors?.['pattern'] || f['mobile_num'].errors?.['maxlength']))}"
                placeholder="Enter mobile number"
              />
              <small *ngIf="f['mobile_num'].invalid && (f['mobile_num'].dirty || f['mobile_num'].touched)" class="invalid-feedback">
                  <div *ngIf="f['mobile_num'].errors?.['required']">Mobile number is required</div>
                  <div *ngIf="f['mobile_num'].errors?.['pattern'] || f['mobile_num'].errors?.['maxlength']">Mobile number is invalid</div>
                  <!-- <div *ngIf="f['mobile_num'].errors?.['maxlength']">Mobile number exceeds max length</div> -->
               </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
  